<template>
    <div>
        <h2 v-if="videoStream.name">{{videoStream.name}}</h2>

        <video
            v-if="videoStream.streamLink"
            id="video"
            class="w-100"
            data-shaka-player
            style="max-height: 600px"
            poster="/streamgroup.png"
            controls
            autoplay
            :muted="true"
        />

        <h5>Buffer time:</h5>
        <b-input v-model="bufferTime" />

        <h5 class="mt-3">Restart / live button</h5>
        <b-button disabled variant="primary">Restart</b-button>
        <b-button disabled variant="success">Go live</b-button>
    </div>
</template>

<script>
import * as shaka from "shaka-player";

export default {
    components: { shaka },

    props: {
        videoStream: {
            type: Object,
            required: true,
            default:
                "https://blueskyglobalvideo.solocoo.tv/blueskylivetknhls/bluekanald/manifest.mpd"
        }
    },

    mounted() {
        if (process.browser) {
            this.initApp();
        }
    },

    watch: {
        videoStream() {
            this.initPlayer();
        }
    },

    data() {
        return {
            bufferTime: 30
        };
    },

    methods: {
        initApp() {
            shaka.polyfill.installAll();

            if (shaka.Player.isBrowserSupported()) {
                this.initPlayer();
            } else {
                console.error("Browser not supported!");
            }
        },

        initPlayer() {
            let player = new shaka.Player(document.getElementById("video"));

            player.configure({
                preferredTextLanguage: "NL",
                streamBufferSize: this.bufferTime,
                streaming: {
                    bufferingGoal: this.bufferTime
                },
                manifest: {
                    dash: {
                        defaultPresentationDelay: this.bufferTime
                    }
                }
            });

            player.getConfiguration();

            window.player = player;

            player
                .load(this.videoStream.streamLink)
                .then(() => {
                    console.log("The video has now been loaded!");
                })
                .catch(err => {
                    console.error("Error code", err.code, "object", err);
                });
        }
    }
};
</script>

<style lang="less">
.disabled {
    cursor: no-drop;
}
</style>