<template>
    <b-container>
        <b-row>
            <b-col>
                <h1>Shaka-player Demo</h1>
                <client-only>
                    <shakaPlayer :videoStream="liveZender" />
                </client-only>
            </b-col>
        </b-row>

        <b-row>
            <b-col class="mt-3" cols="12">
                <h2>Zenders</h2>
                <div class="zenders">
                    <div v-for="(zender, index) in zenders" :key="index">
                        <b-card
                            v-if="zender.streamLink"
                            :title="zender.name"
                            @click="changeZender(zender)"
                            style="min-width: 20rem;"
                            class="mb-2 m-3 zap-opties"
                        >
                            <b-card-text>{{zender.discription}}</b-card-text>
                        </b-card>
                    </div>
                </div>
            </b-col>
        </b-row>

        <b-row>
            <b-col class="mt-3">
                <h2>How to send stream to url</h2>
                <p>?url=https://blueskyglobalvideo.solocoo.tv/blueskylivetknhls/bluekanald/manifest.mpd</p>
                <p>
                    <b>voorbeeld:</b>
                    {{hostName}}?url=https://blueskyglobalvideo.solocoo.tv/blueskylivetknhls/bluekanald/manifest.mpd
                </p>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>
import shakaPlayer from "~/components/shakaPlayer.vue";

export default {
    components: {
        shakaPlayer
    },

    beforeMount() {
        if (this.$route.query.url) {
            console.log(this.$route.query.url, this.zenders[1]);
            this.zenders[2].streamLink = this.$route.query.url;

            this.liveZender = this.zenders[2];
        } else {
            this.liveZender = this.zenders[0];
        }
    },

    created() {
        if (process.browser) {
            this.hostName = window.location.hostname;
        }
    },

    methods: {
        changeZender(ev) {
            if (ev != undefined) {
                this.liveZender = ev;
            } else {
                this.liveZender = this.zenders[0];
            }
        }
    },

    data() {
        return {
            hostName: "",
            liveZender: {},
            zenders: [
                {
                    name: "Eurosport 1 HD",
                    discription: "Lorum ipsum",
                    icon: "",
                    streamLink:
                        "https://blueskyglobalvideo.solocoo.tv/blueskylivetknhls/blueeurosport1hd/manifest.mpd"
                },
                {
                    name: "Kanal D",
                    discription: "Lorum ipsum",
                    icon: "",
                    streamLink:
                        "https://blueskyglobalvideo.solocoo.tv/blueskylivetknhls/bluekanald/manifest.mpd"
                },
                {
                    name: "URL Stream",
                    discription: "Lorum ipsum",
                    icon: "",
                    streamLink: ""
                },
                {
                    name: "BR HD",
                    discription: "Lorum ipsum",
                    icon: "",
                    streamLink:
                        "https://irtdashreference-i.akamaihd.net/dash/live/901161/bfs/manifestBR.mpd"
                }
                // {
                //     name: "Star trek",
                //     discription: "Lorum ipsum",
                //     icon: "",
                //     streamLink:
                //         "https://storage.googleapis.com/shaka-demo-assets/angel-one/dash.mpd"
                // }
            ]
        };
    }
};
</script>

<style lang="less">
.zenders {
    display: flex;
}

.zap-opties {
    cursor: pointer;

    &:hover {
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    }
}
</style>
